 * {
   margin: 0;
   padding: 0;
 }

 body {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   background: url('./images/oKIqpfl.png') no-repeat;
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
 }

 header {
   display: flex;
   width: 100%;
   justify-content: space-around;
   background-color: white;
 }

 section {
   display: flex;
 }

 #root {
   background: transparent;
   display: flex;
   width: 100%;
   justify-content: space-around;
 }

 .primary {
   background-color: white;
   justify-content: center;
   display: flex;
 }

 .App {
   display: flex;
   width: 100%;
 }

 .Boards {
   width: 80%;
   display: flex;
   justify-content: space-between;
   margin-left: 13em;
 }

 .btn-danger {
   border-radius: 2em;

 }

 .checklistHeader {
   text-align: center;
   padding: 0.5em;
 }

 .chechklistitems {
   display: flex;
   justify-content: space-between;
 }

 .btn {
   border: none;
   margin: 0.5em 0em;
   outline: none !important;
 }

 .textItem {
   width: 90%;
 }

 .styles_modal__gNwvD {
   padding: 5em;
   width: 30%;
 }

 .chechklistitems {
   margin-bottom: 1em;
 }

 #mainInput {
   width: 95%;
 }

 .listContainer {
   /* width: 100%; */
   max-width: 20vw;
   align-items: flex-start;
   background-color: #ebecf0;
   padding: 1vw;
   margin: 1vw;
   margin-top: 0;
   border-radius: 0.4vw;
 }

 .listName {
   width: 15vw;
   margin-bottom: 1.2vw;
 }

 .cards {
   /* margin: 1vw; */
   overflow: scroll;
 }

 .allLists {
   margin: 1vw;
   margin-top: 2vw;
   display: flex;
   align-items: flex-start;
   overflow: scroll;
 }

 .allLists::-webkit-scrollbar,
 .cards::-webkit-scrollbar {
   display: none;
 }

 /* .cardName {
  font-size: 1.5vw;
} */
 .cardDiv {
   margin-bottom: 1vw;
   padding: 0.2vw 1vw;
   background-color: white;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-radius: 0.5vw;
 }

 .input {
   width: 18vw;
 }

 .cards {
   max-height: 30vw;
 }

 .listDiv {
   display: flex;
 }

 .allLists::-webkit-scrollbar,
 .cards::-webkit-scrollbar {
   display: none;
 }